.popup__name-field {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  color: #000000;
  border: none;
  opacity: 0.2;
  border-bottom: 1px solid #000000;
  margin: 0 0 30px;
}