.page {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  letter-spacing: 1.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}