.place__like-button {
  background: url(../../../images/places__like-button.svg) no-repeat;
  background-size: 22px 19px;
  border: none;
  width: 23px;
  height: 19px;
  transition: opacity 0.2s linear;
  padding: 0;
}

.place__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}