.profile__name {
  font-weight: 500;
  font-size: 27px;
  line-height: 1.2;
/*
  text-align: center;
*/
  color: #FFFFFF;
  margin: 0 0 14px;
}

@media screen and (min-width: 1024px) {
  .profile__name {
    font-size: 42px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
}